
.heading {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 8rem;
    font-weight: bold;
    margin-top: 3rem;

}

.intro {
    color: darkslategrey;
    font-family: 'Belanosima', sans-serif;
    text-align: center;
    font-size: 5rem;
}

.highlight {
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
    border-radius: 6px;
    padding: 3px 6px;
}

#nameField {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    margin-top: 10rem;
}

.albumDetails {
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.albumDetails > h1 {
    color: darkslategrey;
    text-align: center;
    font-family: 'Belanosima', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

#albumImage {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 500px;
    height: 500px;

}
#song{
    margin-top: 3rem;
    border: 10px solid darkslategrey;
    margin-right: 5rem;
    margin-left: 5rem;
    height: 100vh;
}

